@import '../config';

form.login,
form.register {
    background: rgb(30, 33, 49);
    border-radius: .5em;
    padding: 1.5em 3em;
    @include SetWidth(480, 40vw, 800);
    @include Flex(c, c, c);
    position: relative;

    div.true,
    div.false {
        margin-bottom: 1em;

        p {
            font-size: .9rem; 
            font-weight: 500;
        }

        &.false { color: rgb(220, 20, 30); }
        &.true { color: $clr-bluel; }
    }

    a {
        color: $clr-bluel;
        margin-top: 1em;
        font-size: .9rem;
        text-decoration: none;
        transition: .3s;

        &:hover { color: royalblue; }
    }

    h1 {
        text-transform: uppercase;
        font-size: 2.25rem;
        margin-bottom: 1em;
        font-weight: 700;
    }

    section.inputs {
        width: 100%;
    }

    div.input-div:not(.checkbox) {
        position: relative;
        
        input {
            width: 100%;
            padding: .75em 1em;
            outline: 0;
            background: rgb(38, 42, 61);
            border: 1px solid rgb(58, 62, 82);
            color: $clr-white;
            @include Clamp(.9, 4, 1);
        }

        label {
            position: absolute;
            top: 50%;
            left: 1em;
            translate: 0 -50%;
            font-size: .8rem;
            text-transform: uppercase;
            opacity: .5;
            pointer-events: none;
        }
    }

    button {
        background: $clr-blued;
        padding: 1em 0;
        width: 100%;
        cursor: pointer;
        transition: .3s;
        outline: 0;
        border: 0;
        border-radius: .25em;
        margin-top: 2em;

        label {
            color: $clr-white;
            font-weight: 500;
        }

        &:hover { background: royalblue; }
    }

    @media (max-width: 480px) {
        @include ResetWidth;
        width: 100vw;
        padding: 1em;
    }
}